body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-menu {
  text-align: center;
  color: white;
}

.title {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: float 3s ease-in-out infinite;
}

.menu-options button {
  margin: 15px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ff6f61;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, background 0.2s;
}

.menu-options button:hover {
  transform: scale(1.1);
  background: #ff4a4a;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hidden {
  display: none!important;
}

#difficulty-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative; /* Necesario para posicionar la X */
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #333;
}

.modal-content label {
  display: block;
  margin: 10px 0;
}

.modal-content button {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 14px;
  color: #ff4d4d;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.close-modal:hover {
  color: #ff0000;
  transform: scale(1.2);
}


